In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
path = './multy-class/cifar-10.csv'

In [3]:
data = pd.read_csv(path)

In [4]:
# 60000 x 3072

In [5]:
c=9
class_ = data[data['class']==c]
class_['class'] = 1
other = data[data['class']!=c]

In [6]:
class_

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,...,a3063,a3064,a3065,a3066,a3067,a3068,a3069,a3070,a3071,class
4,182,156,156,144,118,132,148,118,136,85,...,83,83,75,79,72,68,73,67,75,1
13,255,255,255,255,255,255,255,254,255,255,...,24,32,39,33,16,14,14,16,15,1
24,164,171,159,142,168,221,214,205,216,222,...,5,5,7,5,4,4,4,4,5,1
68,164,161,185,188,172,169,168,173,182,193,...,51,44,39,36,31,26,22,20,16,1
69,214,197,219,213,180,203,233,232,233,230,...,78,80,86,89,88,90,97,95,96,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59898,98,97,97,98,98,98,99,98,98,98,...,236,235,233,230,228,227,225,225,224,1
59927,244,241,242,243,244,244,244,243,242,242,...,184,184,186,188,187,188,190,189,187,1
59938,226,228,229,232,232,233,235,236,238,234,...,75,80,78,86,84,103,118,110,124,1
59958,56,31,38,73,122,188,157,152,196,208,...,170,170,163,161,174,182,162,66,51,1
59971,255,249,244,238,228,224,221,227,226,230,...,45,52,30,33,37,52,81,84,85,1

In [7]:
cat = 0

for i in range(10):
    if(cat!=c and cat<10):
        index = other[other['class'] == cat].index[:5333]
        other.drop(index, inplace = True)    
    cat+=1

other['class'] = 0

other.drop(other.index[:3], inplace = True)

In [8]:
other

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,...,a3063,a3064,a3065,a3066,a3067,a3068,a3069,a3070,a3071,class
53189,168,169,165,166,167,170,175,183,186,187,...,124,130,136,134,134,120,153,176,179,0
53193,217,213,212,210,210,208,207,208,210,211,...,75,69,78,89,80,72,71,88,103,0
53205,138,134,132,129,129,127,125,123,124,126,...,123,121,117,115,116,117,117,117,114,0
53206,205,202,203,203,203,203,198,201,203,203,...,200,203,208,200,193,200,212,215,213,0
53226,149,155,161,168,171,171,171,169,169,170,...,214,213,211,210,209,206,201,196,192,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,76,76,77,76,75,76,76,76,76,78,...,185,177,223,239,239,235,236,234,236,0
59996,81,91,98,106,108,110,80,84,88,90,...,107,143,155,156,160,173,129,147,160,0
59997,20,19,15,15,14,13,12,11,10,9,...,112,68,50,52,52,51,50,53,47,0
59998,25,15,23,17,23,51,74,91,114,137,...,84,83,84,79,78,78,80,81,80,0
59999,73,98,99,77,59,146,214,176,125,218,...,89,88,85,93,93,90,94,58,26,0

In [9]:
new = pd.concat([class_, other], ignore_index=True)
new = new.sample(frac=1).reset_index(drop=True)
new

,a0,a1,a2,a3,a4,a5,a6,a7,a8,a9,...,a3063,a3064,a3065,a3066,a3067,a3068,a3069,a3070,a3071,class
0,198,219,239,241,241,241,242,243,242,242,...,199,197,195,201,209,210,211,210,212,1
1,255,255,255,255,255,244,237,229,222,231,...,245,249,253,254,255,255,255,255,255,1
2,183,182,180,180,183,184,185,186,186,186,...,73,70,71,74,74,77,77,78,81,1
3,173,171,175,176,175,176,180,186,192,194,...,94,94,95,95,94,92,93,96,96,1
4,242,241,236,240,239,239,245,249,252,254,...,102,97,93,90,89,93,89,88,80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,254,248,229,230,226,208,153,211,249,249,...,115,113,127,152,174,207,239,253,255,1
11996,24,20,19,20,21,22,23,22,22,22,...,93,93,92,83,76,67,60,42,26,1
11997,111,111,110,109,110,112,114,118,121,123,...,99,92,89,90,96,103,105,104,105,0
11998,250,252,252,245,242,245,234,229,229,242,...,121,127,132,135,133,135,144,145,140,1
11999,255,255,255,255,255,255,255,255,255,255,...,202,190,199,225,250,255,255,255,253,0

In [11]:
new.to_csv('cifar-10-binary.csv', index=False)