# jungle_chess_2pcs_raw_endgame_complete convertion

In [6]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [7]:
data = pd.read_csv('https://www.openml.org/data/get_csv/18631418/jungle_chess_2pcs_raw_endgame_complete.arff')

In [8]:
data

,white_piece0_strength,white_piece0_file,white_piece0_rank,black_piece0_strength,black_piece0_file,black_piece0_rank,class
0,0,1,8,0,0,8,w
1,0,2,8,0,0,8,w
2,0,4,8,0,0,8,w
3,0,5,8,0,0,8,w
4,0,6,8,0,0,8,w
...,...,...,...,...,...,...,...
44814,7,6,1,7,6,0,w
44815,7,0,0,7,6,0,b
44816,7,1,0,7,6,0,b
44817,7,2,0,7,6,0,b
44818,7,4,0,7,6,0,b

In [9]:
c='w'
target = 'class'
target_vals = ['w','b','d']

class_ = data[data[target]==c]
class_[target] = 1

other = data[data[target]!=c]
other[target] = 0

In [10]:
other

,white_piece0_strength,white_piece0_file,white_piece0_rank,black_piece0_strength,black_piece0_file,black_piece0_rank,class
12,0,0,6,0,0,8,0
20,0,1,5,0,0,8,0
26,0,0,4,0,0,8,0
28,0,2,4,0,0,8,0
32,0,6,4,0,0,8,0
...,...,...,...,...,...,...,...
44813,7,5,1,7,6,0,0
44815,7,0,0,7,6,0,0
44816,7,1,0,7,6,0,0
44817,7,2,0,7,6,0,0
44818,7,4,0,7,6,0,0

In [11]:
class_

,white_piece0_strength,white_piece0_file,white_piece0_rank,black_piece0_strength,black_piece0_file,black_piece0_rank,class
0,0,1,8,0,0,8,1
1,0,2,8,0,0,8,1
2,0,4,8,0,0,8,1
3,0,5,8,0,0,8,1
4,0,6,8,0,0,8,1
...,...,...,...,...,...,...,...
44804,7,3,2,7,6,0,1
44806,7,5,2,7,6,0,1
44810,7,2,1,7,6,0,1
44812,7,4,1,7,6,0,1
44814,7,6,1,7,6,0,1

In [12]:
class_.drop(class_.index[:1305], inplace = True)

In [13]:
class_

,white_piece0_strength,white_piece0_file,white_piece0_rank,black_piece0_strength,black_piece0_file,black_piece0_rank,class
1992,0,6,7,0,6,4,1
1993,0,0,6,0,6,4,1
1994,0,1,6,0,6,4,1
1995,0,2,6,0,6,4,1
1996,0,3,6,0,6,4,1
...,...,...,...,...,...,...,...
44804,7,3,2,7,6,0,1
44806,7,5,2,7,6,0,1
44810,7,2,1,7,6,0,1
44812,7,4,1,7,6,0,1
44814,7,6,1,7,6,0,1

In [14]:
new = pd.concat([class_, other], ignore_index=True)
new = new.sample(frac=1).reset_index(drop=True)
new

,white_piece0_strength,white_piece0_file,white_piece0_rank,black_piece0_strength,black_piece0_file,black_piece0_rank,class
0,0,3,7,0,5,2,1
1,4,2,6,6,5,8,1
2,6,1,8,7,3,2,1
3,6,3,5,0,1,8,1
4,6,0,6,0,2,7,1
...,...,...,...,...,...,...,...
43509,0,4,1,0,2,1,0
43510,0,2,8,7,2,2,1
43511,4,5,2,0,2,6,0
43512,7,0,5,7,4,2,0
43513,6,6,6,5,1,0,0

In [15]:
new.to_csv('jungle_chess_2pcs_raw_endgame_complete-binary.csv', index=False)