# connect-4 preparation (balanced number of rows in class)

In [6]:
import pandas as pd
pd.options.mode.chained_assignment = None

In [7]:
data = pd.read_csv('https://www.openml.org/data/get_csv/4965243/connect-4.arff')

In [8]:
data

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,...,f4,f5,f6,g1,g2,g3,g4,g5,g6,class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,2,2,0,0,0,0,1,2,1,0,...,0,0,0,1,1,2,0,0,0,1
67553,2,2,0,0,0,0,1,0,0,0,...,0,0,0,1,2,1,1,2,0,0
67554,2,2,0,0,0,0,1,1,0,0,...,0,0,0,1,2,2,1,0,0,1
67555,2,1,0,0,0,0,1,0,0,0,...,0,0,0,1,2,1,2,2,0,0
67556,2,1,1,1,2,0,1,0,0,0,...,0,0,0,2,0,0,0,0,0,0

In [9]:
c=2
target = 'class'
target_vals = [0,1,2]

class_ = data[data[target]==c]
class_[target] = 1

other = data[data[target]!=c]
other[target] = 0

In [10]:
other

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,...,f4,f5,f6,g1,g2,g3,g4,g5,g6,class
6,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,2,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67552,2,2,0,0,0,0,1,2,1,0,...,0,0,0,1,1,2,0,0,0,0
67553,2,2,0,0,0,0,1,0,0,0,...,0,0,0,1,2,1,1,2,0,0
67554,2,2,0,0,0,0,1,1,0,0,...,0,0,0,1,2,2,1,0,0,0
67555,2,1,0,0,0,0,1,0,0,0,...,0,0,0,1,2,1,2,2,0,0
67556,2,1,1,1,2,0,1,0,0,0,...,0,0,0,2,0,0,0,0,0,0

In [11]:
class_

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,...,f4,f5,f6,g1,g2,g3,g4,g5,g6,class
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67498,2,1,1,2,2,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
67500,2,1,0,0,0,0,0,0,0,0,...,0,0,0,1,2,2,1,1,0,1
67501,2,2,1,2,0,0,1,2,0,0,...,0,0,0,1,0,0,0,0,0,1
67507,2,2,1,1,2,0,0,0,0,0,...,0,0,0,1,2,1,0,0,0,1
67512,2,2,2,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [12]:
class_.drop(class_.index[:21389], inplace = True)

In [13]:
class_

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,...,f4,f5,f6,g1,g2,g3,g4,g5,g6,class
31247,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,1
31250,0,0,0,0,0,0,1,2,1,0,...,0,0,0,0,0,0,0,0,0,1
31251,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
31252,1,0,0,0,0,0,2,2,1,0,...,0,0,0,0,0,0,0,0,0,1
31253,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67498,2,1,1,2,2,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
67500,2,1,0,0,0,0,0,0,0,0,...,0,0,0,1,2,2,1,1,0,1
67501,2,2,1,2,0,0,1,2,0,0,...,0,0,0,1,0,0,0,0,0,1
67507,2,2,1,1,2,0,0,0,0,0,...,0,0,0,1,2,1,0,0,0,1
67512,2,2,2,1,1,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [14]:
new = pd.concat([class_, other], ignore_index=True)
new = new.sample(frac=1).reset_index(drop=True)
new

,a1,a2,a3,a4,a5,a6,b1,b2,b3,b4,...,f4,f5,f6,g1,g2,g3,g4,g5,g6,class
0,2,1,0,0,0,0,2,0,0,0,...,0,0,0,2,1,0,0,0,0,0
1,0,0,0,0,0,0,2,0,0,0,...,0,0,0,2,2,0,0,0,0,0
2,0,0,0,0,0,0,2,2,1,0,...,0,0,0,0,0,0,0,0,0,1
3,2,1,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,1
4,1,0,0,0,0,0,2,0,0,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46163,1,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
46164,2,1,2,0,0,0,2,2,1,0,...,0,0,0,0,0,0,0,0,0,0
46165,1,1,1,2,1,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,1
46166,2,0,0,0,0,0,1,2,2,0,...,0,0,0,0,0,0,0,0,0,0
46167,1,0,0,0,0,0,2,0,0,0,...,0,0,0,2,0,0,0,0,0,1

In [15]:
new.to_csv('connect-4-balanced-binary.csv', index=False)